/*

░█████╗░░█████╗░██████╗░███████╗  ██╗░░░░░██╗██╗░░██╗███████╗  ██████╗░░█████╗░░█████╗░░██████╗
██╔══██╗██╔══██╗██╔══██╗██╔════╝  ██║░░░░░██║██║░██╔╝██╔════╝  ██╔══██╗██╔══██╗██╔══██╗██╔════╝
██║░░╚═╝██║░░██║██║░░██║█████╗░░  ██║░░░░░██║█████═╝░█████╗░░  ██████╦╝██║░░██║██║░░██║╚█████╗░
██║░░██╗██║░░██║██║░░██║██╔══╝░░  ██║░░░░░██║██╔═██╗░██╔══╝░░  ██╔══██╗██║░░██║██║░░██║░╚═══██╗
╚█████╔╝╚█████╔╝██████╔╝███████╗  ███████╗██║██║░╚██╗███████╗  ██████╦╝╚█████╔╝╚█████╔╝██████╔╝
░╚════╝░░╚════╝░╚═════╝░╚══════╝  ╚══════╝╚═╝╚═╝░░╚═╝╚══════╝  ╚═════╝░░╚════╝░░╚════╝░╚═════╝░

░██╗░░░░░░░██╗██╗████████╗██╗░░██╗  ░█████╗░███████╗
░██║░░██╗░░██║██║╚══██╔══╝██║░░██║  ██╔══██╗╚════██║
░╚██╗████╗██╔╝██║░░░██║░░░███████║  ███████║░░███╔═╝
░░████╔═████║░██║░░░██║░░░██╔══██║  ██╔══██║██╔══╝░░
░░╚██╔╝░╚██╔╝░██║░░░██║░░░██║░░██║  ██║░░██║███████╗
░░░╚═╝░░░╚═╝░░╚═╝░░░╚═╝░░░╚═╝░░╚═╝  ╚═╝░░╚═╝╚══════╝

 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}
body {
  font-size: 14px;
  line-height: 24px;
  font-family: "Lato", sans-serif;
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

a,
a:hover {
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  width: 100%;
}

.portfolio {
  width: 100%;
  padding: 40px 0px 20px;
}
.tiltle {
  width: 100%;
  padding-bottom: 30px;
}

.tiltle .social-media {
  margin: 0;
  padding: 0px;
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

.tiltle .social-media li {
  display: inline-block;
}
.tiltle .social-media li a {
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 23px;
  line-height: 50px;
  border-radius: 50%;
  background: #f2f2f2;
  text-align: center;
  margin: 0px 10px;
  color: #000;
}
.tiltle .social-media li a:hover {
  background: crimson;
  color: #fff;
  transition: 0.5s;
}

.tiltle h1 {
  font-size: 28px;
  line-height: 38px;
  color: #333;
  text-transform: uppercase;
  font-weight: 700;
  word-spacing: 4px;
  margin-bottom: 20px;
}
.tiltle h2 {
  font-size: 28px;
  line-height: 38px;
  color: crimson;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 50px;
}
.tiltle .underline {
  width: 150px;
  height: 2px;
  margin: 0px auto;
  background: crimson;
  display: inline-block;
}
.tiltle .btn-primary {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  padding: 12px 30px;
  text-transform: uppercase;
  color: #000;
  background: transparent !important;
  border-radius: 0;
  border-color: crimson;
}
.tiltle .btn-primary:hover {
  background: #f2f2f2 !important;
  color: rgb(218, 17, 17);
}
.btn-check:focus + .btn-primary,
.btn-primary:focus {
  box-shadow: none !important;
}
.tiltle .btn-primary .fab {
  margin-right: 10px;
}
.project-name {
  width: 100%;
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.project-name li {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px 15px;
}
.project-name .active {
  background: crimson;
  color: #fff;
  padding: 10px 15px;
}
.portfolio-items {
  width: 100%;
  position: relative;
  transition: 0.5s;
  -moz-transition: 0.5s;
}
.portfolio-items:hover:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.596);
  z-index: 1;
  transition: 0.5s;
  -moz-transition: 0.5s;
}

.portfolio-items img {
  width: 100%;
}

.project-show {
  margin-top: 40px;
}
.portfolio-items .hover {
  position: absolute;
  left: 50%;
  top: 50%;
  /* border: 1px solid red; */
  transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  -moz-transition: 0.5s;
}

.portfolio-items .hover span {
  font-size: 50px;
  color: #fff;
  cursor: pointer;
}
.portfolio-items:hover.portfolio-items .hover {
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
}

/* modal */
.modal-body img {
  width: 100%;
}
.modal-content {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 0px;
  outline: 0;
}
.modal-header {
  background: #fff;
}
.modal-title {
  font-size: 18px;
  line-height: 28px;
  color: #333333;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0px;
}

@media (min-width: 100px) and (max-width: 480px) {
  .tiltle {
    padding-bottom: 20px;
  }
  .tiltle h1 {
    font-size: 16px;
    line-height: 30px;
    word-spacing: 1px;
  }
  .tiltle h2 {
    font-size: 22px;
    line-height: 32px;
    margin-top: 24px;
  }
  .tiltle .btn-primary {
    font-size: 14px;
    padding: 10px 15px;
  }
  .tiltle .underline {
    width: 80px;
  }
  .tiltle .social-media li a {
    width: 45px;
    height: 45px;
    font-size: 19px;
    line-height: 45px;
    margin: 0px 6px;
  }
  .project-name li {
    font-size: 16px;
    font-weight: 600;
    margin-right: 0px;
    margin-bottom: 10px;
    padding: 2px 10px;
  }
  .project-name .active {
    background: crimson;
    color: #fff;
    padding: 0px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .tiltle {
    padding-bottom: 25px;
  }
  .tiltle h1 {
    font-size: 18px;
    line-height: 28px;
    word-spacing: 2px;
  }
  .tiltle h2 {
    font-size: 24px;
    line-height: 34px;
    margin-top: 30px;
  }
  .tiltle .btn-primary {
    font-size: 16px;
    padding: 10px 15px;
  }
  .tiltle .underline {
    width: 90px;
  }
  .tiltle .social-media li a {
    width: 50px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    margin: 0px 8px;
  }
  .project-name li {
    font-size: 16px;
    font-weight: 600;
    margin-right: 0px;
    margin-bottom: 10px;
    padding: 8px 12px;
  }
  .project-name .active {
    background: crimson;
    color: #fff;
    padding: 8px 12px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .tiltle {
    padding-bottom: 20px;
  }
  .tiltle h1 {
    font-size: 24px;
    line-height: 34px;
    word-spacing: 3px;
  }
  .tiltle h2 {
    font-size: 28px;
    line-height: 38px;
    margin-top: 50px;
  }
  .tiltle .btn-primary {
    font-size: 16px;
    padding: 10px 15px;
  }
  .tiltle .underline {
    width: 90px;
  }
  .tiltle .social-media li a {
    width: 50px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    margin: 0px 8px;
  }
  .project-name li {
    font-size: 16px;
    font-weight: 600;
    margin-right: 0px;
    margin-bottom: 10px;
    padding: 8px 12px;
  }
  .project-name .active {
    background: crimson;
    color: #fff;
    padding: 8px 12px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

@media (min-width: 992px) and (max-width: 1280px) {
  .tiltle h1 {
    font-size: 25px;
    line-height: 35px;
  }
}
